* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: #0e0f12;
    color: #333;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; 
  }
  
  header h1 {
    font-size: 2em;
    color: #4a90e2;
  }
  
  .container-wrapper {
    display: flex; 
    justify-content: center; 
    flex-wrap: nowrap; 
    gap: 20px; 
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  
  h2 {
    font-size: 1.5em;
    color: #4a90e2;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    display: block;
    margin: 15px auto;
    padding: 8px;
    font-size: 1em;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #357ab7;
  }
  
  #downloadLink {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #downloadLink:hover {
    background-color: #218838;
  }
  
  #unzipOutput {
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
  }
  
  #unzipOutput div {
    margin-bottom: 10px;
  }
  
  #unzipOutput img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  pre {
    background-color: #f7f8fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  a.download-link {
    display: block;
    margin-top: 5px;
    padding: 5px;
    background-color: #f1f3f5;
    color: #4a90e2;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  a.download-link:hover {
    background-color: #e0e3e7;
    color: #357ab7;
  }
  